<% include ./partials/header %>

<!-- <h1>Homepage for restful blog app!</h1> -->
<div class="ui main container">
  <% blogs.forEach(function(blog){ %>  
    <div>
      <h2><%= blog.title %></h2>
      <img src="<%= blog.image %>" alt="">
      <span><%= blog.created %></span>
      <p><%= blog.body.substring(0, 100) %>...</p> <!-- this will limit the content to 100 chars -->
      <a href="/blogs/<%= blog._id %>">Read More</a>
    </div>
  <% }) %>
</div>

<% include ./partials/footer %>